
$border: #D9FFF5;
/* Хэдер*/
.conteiner__header {
    
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $border;
      @media (min-width: 1120px) {
   
        padding:0;
        margin-top:42px;
        margin-right:25px;
        } 

}

.menu {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    @media (min-width: 768px) {
        /* width:768px;*/
        }
    @media (min-width: 1120px) {
          justify-content:  flex-end;
          height:100%;
        /* width:1120px;*/
        }
            
        button {
        
          width:40px;
          height:40px;
          border-radius: 50%;
          border:none;
          cursor: pointer;
        }

        &__line {
          height: 32px;
          width: 2px;
          background-image: url("../img/divider.png");

          @media (min-width: 768px) {
          position: relative;
          left:330px;
          
          }
          @media (min-width: 1120px) {
            display: none;
          }
        }

        &__burger {
          background-image: url("../img/burger.png");
          @media (min-width: 1120px) {
          display: none;
          }
        }

        &__logo {
            
            width:96px;
            min-height:50px;
            background-image: url("../img/Group.png");
            @media (min-width: 768px) {
            &::before {
                content: "";
                background-image: url("../img/divider.png");
                height: 32px;
                width: 2px;
                background-color: aqua;
                display: block;
                top:10px;
                left:-30px;
                position: relative;
            }
            @media (min-width: 1120px) {
                display: none;
              }
            }


          }
         &__tools {
            background-image: url("../img/repair.png");
            @media (min-width: 768px) {
                display: table;
                position: relative;
                left:45px;
              
              }
            @media (min-width: 1120px) {
                  margin-right: 200px;
                  cursor: pointer;
                  &::before {
                      content: "Оставить заявку";
                      display: block;
                      position: relative;
                      left:-150px;
                      white-space:nowrap;
                      margin-top:10px;
                      font-weight: 500;
                      font-size: 16px;
                   
                    
                  } 
                }
            }
          &__seach {
            background-image: url("../img/checkstatus.png");
            background-repeat: no-repeat;
            @media (min-width: 1120px) {
                &::before {
                    content: "Статус ремонта";
                    display: block;
                    position: relative;
                    left:-130px;
                    white-space:nowrap;
                    margin-top:10px;
                    font-size: 16px;
                    font-weight: 500;
                  
                }
            }
        }
        &__tell{
            display: none;
        @media (min-width: 768px) {
            
                background-image: url("../img/call.png");
                display: table;
            position: relative;
            
                left:160px;
            
        }
        @media (min-width: 1120px) {
            display: none;
          }
        }
        &__masage{
              display: none;
                @media (min-width: 768px) {
                background-image: url("../img/chat.png");
                display: table;
                position: relative;
                left:120px;
               }
           
                @media (min-width: 1120px) {
                display: none;
               }

          }

        &__profil {
            display: none;
            @media (min-width: 768px) {
                background-image: url("../img/profile.png");
                display: table;
            position: relative;
            
                left:90px;
            }
            @media (min-width: 1120px) {
                display: none;
              }
          }

   }