

.swiper.new-slider {
    width: 320px;
    height: 164px;
    background-color: $fon;
    padding-top: 24px;
    padding-left: 16px;
        @media (min-width: 768px) {
            width: 100%;
            height:100%;
            display:flex;
            padding-left: 0;
        }
  }

  .title-slider{
    
    color:$fontcolor;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin:0;
    @extend %gradient;
    padding: 16px;

        @media (min-width: 768px) {
         
            padding-left: 24px;
        }
        @media (min-width: 1120px) {
            
            padding-left: 32px;
        }
}

.logos-brends {
    width:320px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
            @media (min-width: 768px) {
                width:768px;
                
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            @media (min-width: 1120px) {
                width:1120px;
            }
    
  
}

.item {
    border-radius: 4%;
    height: 72px;
    width:224px;
    
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    
    border:1px solid  $borderItem;
    background-color:$white-back;
    @media (min-width: 768px) {
        margin-left: 24px;
        margin-top: 20px;
        
    }
   
    @media (min-width: 1120px) {
        margin-left: 32px;
        width:240px;
        
    }
   
    .item__logo{
    
        height: auto;
        width:auto;
     
    }
    
   .item__circle{
        background-image: url("../img/go.png");
        height: 40px;
        width:40px;
       
    }
}

.swiper-slide.list{
    @media (min-width: 768px) {
        display: flex;
        vertical-align: middle;
        align-items: center;
        width: 240px;
        height: 72px;
        
    }

   
}
.collection>.swiper-slide.list{
&:nth-child(2),
&:first-child,
&:last-child
{
    @media (min-width: 768px) {
    display: none;
    }
    @media (min-width: 1120px) {
        display: inline-block;
        display: flex;
        vertical-align: middle;
        align-items: center;
        width: 240px;
        height: 72px;
        }
}
}
.wrapper{
    
    @media (min-width: 768px) {
        display: flex;
        margin-bottom: auto;
        flex-wrap: wrap;
        
      
    }
  
}

.swiper-pagination-bullet {
background:$borderfon !important;

@media (min-width: 768px) {
position: absolute;
        visibility: hidden;
}
}

 
    .collection__extra{
        @media (min-width: 768px) {
            width: 100%;
        position: relative;
        margin: 0;
        display: flex;
        font-weight: 500;
        font-size: 16px;
        border: none;
        background-color:  $fon;
        color:  #1B1C21;
           justify-content: left; 
           flex-wrap: wrap;
        }
       
    }

    
.button-else{
    display: none;
    @media (min-width: 768px) {
       display: block;
        position: relative;
        left: 42px;
        font-weight: 500;
        font-size: 16px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color:  $fon;
        color:  #1B1C21;
        width: 110px;
    }
   }
    

    .rows{
        @media (min-width: 768px) {
        width: 24px;
        height: 24px;
        
        position: absolute;
        left: -23px;
        top: -5px;
        
        }
    }
    .rowsupp{
        @media (min-width: 768px) {
        background-image: url("../img/rowsupp.png");
        top:0;
        }
    }
    .rowsdown{
        @media (min-width: 768px) {
    
        background-image: url("../img/rowsbotom.png");
        }
    }


