@import "font.scss";
@import "header.scss";
@import "box-size.scss";
@import "submenu.scss";
@import "content.scss";
@import "side-menu.scss";
@import "slider.scss";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "../../node_modules/swiper/modules/pagination.css";



$bgColor: #24292e;
$text: #fff;


body {
  
  font-family: "TTLakes", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin:0;
}


.conteiner{
  @media (min-width: 768px) {
      width:768px;
    }
    @media (min-width: 1120px) {
      width:1120px;
      background-color: #F8F8F8;
      position: absolute;
      left:320px;
    }
 


  width:320px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.hidden{
  display: none;
 
}
.unhidden{
  display:block;
}
.fog{
opacity:8%;
}